body {
	background: #fff;
	text-align: center; /* Necessary for IE 6,7,8 */
	font-family: 'Times New Roman', STXingkai, STKaiti, KaiTi, KaiTi_GB2312, serif;
	font-size: 18px;
    background-image: url(./images/left.png), url(./images/right.png);
    background-position: top left, top right;
    background-repeat: no-repeat;
}

a:link,
a:hover,
a:active,
a:visited {
	color: black;
	text-decoration: none;
}

#container {
	width: 900px;
	margin: 0 auto;
}

#header #card {
    float: left;
    width: 250px;
    height: 364px;
    background-color: #EECCBB;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    color:#333;
}

#header #photo {
    float: left;
    width: 650px;
}

#header #photo img {
    width: 100%;
}

#header #card .name {
    font-family: 'Times New Roman', STXingkai, STKaiti, KaiTi, KaiTi_GB2312, serif;
    font-weight: 600;
	font-size: 36px;
    margin-top: 30px;
}

#header #card .name2 {
    margin:0;
    font-family: 'Miss Fajardose', cursive;
	font-weight: 600;
	font-size: 32px;
}

#menu {
    clear:both;
    padding-top:15px;
}

#menu ul {
	margin: 0;
	padding: 0;
    width: 100%;
}

#menu ul li {
    float:left;
    width:50%;
    line-height:200%;
	list-style:none;
	background-color:#FFEEDD;
    color:#000;
}

#menu ul a li {
	color:#666;
	background-color:#eee;
}

#menu ul a:hover li {
	color:#000;
}

div.section {
    clear:both;
    border-top:1px solid #666;
    padding:35px;
    background-color:#FFEEDD;
    text-align:left;
    color:#333;
}

div.section h1 {
    text-align:center;
    font-weight: 600;
    font-size: 20px;
}

div.section img {
    border: none;
    width: 49%;
}